body {
  background-color: #2e2e2e;
}
h1 {
  color: whitesmoke;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 5em;
}
.house {
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
  background-color: whitesmoke;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 17px;
}
.container > div {
  background-color:#2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}
.tile:hover {
  background-color: #474747
}
.end {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  margin-top: 150px;
  margin-bottom: 300px;
}
